<%
  variant = local_assigns.key?(:variant) ? local_assigns[:variant]&.to_sym : :neutral
  variant_class = {
    neutral: "badge-neutral",
    success: "badge-success",
    warning: "badge-warning",
    danger: "badge-danger",
    info: "badge-info"
  }[variant]
  style = local_assigns.fetch(:style, :badge).to_sym
  base_class = style == :pill ? "pill" : "badge"
%>

<span class="<%= class_names(base_class, variant_class, local_assigns[:class]) %>">
  <%= label %>
</span>
