<%
  file_name =
    if local_assigns[:file_name].present?
      local_assigns[:file_name]
    elsif flag.clause.doc_file&.file&.attached?
      flag.clause.doc_file.file.filename.to_s
    else
      "Untitled file"
    end
%>

<li id="<%= dom_id(flag) %>" data-controller="flag-drawer">
  <%= render "components/flag_action_item", flag: flag %>
  <%= render "components/flag_drawer", flag: flag, file_name: file_name, render_context: "action_item" %>
</li>
